<div>

  <header>
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <h1>All Products</h1>
        </div>
        <div class="col-4"></div>
        <div class="col-1"></div>
        <div class="col-1">
          <%= customer_signed_in? ? link_to('logout', destroy_customer_session_path, method: :delete) : link_to('login', new_customer_session_path) %>
        </div>
        <div class="col-2">
          <h7 class="cart-text"><%= render 'layouts/cart_text' %></h7>
        </div>
      </div>
    </div>
  </header>

  <body>
  <div class="col-12">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-4 products">
          <li>Name: <%= product.name %></li>
          <li>Brand: <%= product.brand %></li>
          <li>Sku: <%= product.sku %></li>
          <div class="col-12 text-center">
            <div class="col-xs-4">

              <%= form_for @order_item, remote: true do |f| %>
                  <h4 class="text-right">Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
                  <div class="input-group">
                    <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
                    <div class="input-group-btn">
                      <%= f.hidden_field :product_id, value: product.id %>
                      <%= f.submit "Add to Cart", class: "btn btn-primary" %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  </body>
</div>